@model MdpProject.Models.MdpMonitor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MdpMonitor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MdpTenMonitor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MdpTenMonitor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MdpKichThuoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MdpKichThuoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MdpDoPhanGiai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MdpDoPhanGiai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MdpTanSoQuet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MdpTanSoQuet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MdpCongKetNoi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MdpCongKetNoi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MdpTamNen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MdpTamNen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MdpCreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MdpCreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MdpUpdatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MdpUpdatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MdpSanPham)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MdpSanPham.MdpSanPhamId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MdpMonitorId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
