@model MdpProject.Models.MdpCamera

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MdpCamera</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MdpTenCamera)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MdpTenCamera)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MdpDoPhanGiai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MdpDoPhanGiai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MdpCamBien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MdpCamBien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MdpOngKinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MdpOngKinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MdpBoNho)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MdpBoNho)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MdpCreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MdpCreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MdpUpdatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MdpUpdatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MdpSanPham)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MdpSanPham.MdpSanPhamId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MdpCameraId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
